html,
header,
body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    
}

.pageLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout {
    align-self:  center;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 66%;
    margin: 2rem auto;
    min-height: 16rem;
}

input {
    padding: 12px;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 12px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.loginForm{
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 66%;
    width: 350px;
    height: 400px;
}

.loginForm button{
    transition: 0.1s;
    border: none;
    cursor: pointer;
    background-color: black;
    border-radius: 8px;
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    margin: 16px 16px ;
}

.loginForm button:hover{
    transition: 0.13s;
    cursor: pointer;
    color: black;
    background-color: white;
    border: solid black 1px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-size: 16px;
    padding: 12px 24px;
    margin: 16px 16px ;
}

