html,
header,
body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

.pageLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.layout {
    align-self:  center;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 66%;
    margin: 1rem auto;
    min-height: 16rem;
}

.layout h1{
    margin: 0;
}

input {
    padding: 12px;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 12px;
    border-radius: 8px;
    border-width: 1px;
}

.registerForm{
    border: solid 1px #555;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 66%;
}

.registerForm button{
    transition: 0.1s;
    cursor: pointer;
    border: solid 2px black;
    background-color: black;
    border-radius: 8px;
    font-family: 'Roboto';
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    margin: 16px 16px ;
}

.registerForm button:hover{
    transition: 0.13s;
    cursor: pointer;
    background-color: white;
    border-radius: 8px;
    font-family: 'Roboto';
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    margin: 16px 16px ;
}