.searchForm {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 1rem;
}

.searchbar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border: none;
    min-width: 300px;   
    width: 100%;
    padding: 3px;
    height: 2rem;
    font-size: 16px;
    border-radius: 14px;
    text-indent: 8px;
}

.searchbar::placeholder {
    text-indent: 8px;
}

.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 4px;
}

.searchButton i {
    font-size: 18px; 
    color: #6a6a6a; /* Colore dell'icona */
}

/* Media query for tablets */
@media (max-width: 768px) {

    .searchForm {
        max-width: 400px;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {

    .searchForm {
        max-width: 300px;
        margin: 0.5rem 0;
    }
    .searchbar {
        height: 1.5rem;
        font-size: 14px;
    }
}