.searchForm {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 1rem;
}

.searchbar {
    
    width: 100%;
    padding: 3px;
    height: 2rem;
    font-size: 16px;
    border-radius: 8px;
    text-indent: 8px;
}

.searchbar::placeholder {
    text-indent: 8px;
}

/* Media query for tablets */
@media (max-width: 768px) {

    .searchForm {
        max-width: 400px;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {

    .searchForm {
        max-width: 300px;
        margin: 0.5rem 0;
    }
    .searchbar {
        height: 1.5rem;
        font-size: 14px;
    }
}