.searchbar{
    align-self: center;
    padding: 0;
    height: 2rem;
    flex-grow: 1;
    font-size: 16px;
    border-radius: 8px;
}

.searchbar{
    padding: 2px;
    text-indent: 8px;
}

.searchbar::placeholder{
    text-indent: 8px;
}