html,
body,
header {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-top: 8px;
}

.logo {
    
    height: auto;
    align-self: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    text-decoration: none;
    padding: 14.5px 1rem;
    font-size: 22px;
    color: black;
}

.menu ul li {
    display: flex;
    transition: 0.13s;
    color: black;
}

.menu li:hover {
    background-color: #b3b3b33d;
    transition: 0.16s;
    border-radius: 16px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons a {
  
    display: flex;
    transition: 0.13s;
    text-decoration: none;
    padding: 21px 1rem;
    color: black;
    font-size: 22px;
}

.buttons a:hover {
    background-color: #b3b3b33d;
    border-radius: 16px;
}

.buttons .icon {
    display: flex;
    vertical-align: middle;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .menu a {
        padding: 18.5px 1rem;
        font-size: 18px;
    }
    .buttons a {
        padding: 21px 1rem;
        font-size: 18px;
    }

}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu {
        width: 100%;
        justify-content: flex-start;
    }
    .menu ul {
        
        width: 100%;
    }
    .menu a {
        width: 100%;
        padding: 10px 1rem;
        font-size: 16px;
    }
    .buttons {
        width: 100%;
        justify-content: space-between;
    }
    .buttons a {
        padding: 10px 1rem;
        font-size: 16px;
    }

}