html,
header,
body {
    font-family: "Roboto";
    padding: 0;
    margin: 0;
}

.logo {
    padding: 16px 25px;
    align-self: center;
    /* border: 2px solid red; */
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    gap: 2rem;
    padding: 0 1rem;
    /* border: 2px solid blue; */
}

.menu {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    align-self: center;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid pink; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu a {
    /* border: 2px solid blue; */
    display: flex;
    align-items: stretch;
    text-decoration: none;
    height: 100%;
    padding: 18.5px 3rem;
    font-size: 22px;
    color: white;
}

.menu li {
    transition: 0.13s;
}

.menu li:hover {
    background-color: #222;
    transition: 0.16s;
    align-self: center;
}

.buttons {
    align-self: center;
}

.buttons a:hover {
    background-color: #222;
    transition: 0.16s;
    padding-bottom: 18px;
}

.buttons a {
    transition: 0.13s;
    text-decoration: none;
    padding: 21px 2rem;
    color: white;
    font-size: 22px;
}

.buttons .icon {
    vertical-align: middle;
    padding-top: 100%;
    padding-bottom: 1rem;
}
